{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="/static/css/style.css?atualiza=style.css" rel="stylesheet">
    <link href="/static/css/estilo.css?atualiza=estilo.css" rel="stylesheet">
    <link href="/static/css/bootstrap.css?atualiza=bootstrap.css" rel="stylesheet">
	<title>2ª via Boleto - {{ boleto_title }}</title>
</head>
<body>
	<style type="text/css">
	body{margin:0;padding:0;}
	.topo{
		width: 100%;
		height: 82px;
		float: left;
		clear: both;
	}

	.container-edge{
		width: 960px;
		height: 78px;
		margin: 0 auto;
	}

	.link-edge{
		margin-left: 3px;
		vertical-align: middle;
		display: inline-block;
	}

	.link-edge li{
		float: left;
		text-decoration: none;
		list-style: none;
		margin-right: 28px;
	}

	.logo-edge{
		display: inline-block;
		vertical-align: middle;
	}

	#enviar{
	  width: 154px;
	  height: 35px;
	  margin-left: 18px;
	  border: none;
	  text-indent: 11px;
	  outline: none !important;
	  line-height: 35px;
	  background: url({% static "imagens/bg-busca.png" %}) center center no-repeat;
	  padding-right: 46px;
	}

  	.topo-edge{
      background-color: #eee;
      border-bottom: 5px solid #14509a;
  	}

	.topo-edge a{
		color: #14509a;
		font-size: 12px;
		text-transform: uppercase;
		font-family: 'Roboto', sans-serif;
		text-decoration: none;
	}

	.topo-edge a:hover{
		text-decoration: underline;
	}

	/**
 * selectize.bootstrap3.css (v0.12.1) - Bootstrap 3 Theme
 * Copyright (c) 2013â€“2015 Brian Reavis & contributors
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this
 * file except in compliance with the License. You may obtain a copy of the License at:
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF
 * ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 *
 * @author Brian Reavis <brian@thirdroute.com>
 */


.selectize-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder {
  visibility: visible !important;
  background: #f2f2f2 !important;
  background: rgba(0, 0, 0, 0.06) !important;
  border: 0 none !important;
  -webkit-box-shadow: inset 0 0 12px 4px #ffffff;
  box-shadow: inset 0 0 12px 4px #ffffff;
}
.selectize-control.plugin-drag_drop .ui-sortable-placeholder::after {
  content: '!';
  visibility: hidden;
}
.selectize-control.plugin-drag_drop .ui-sortable-helper {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.selectize-dropdown-header {
  position: relative;
  padding: 3px 12px;
  border-bottom: 1px solid #d0d0d0;
  background: #f8f8f8;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.selectize-dropdown-header-close {
  position: absolute;
  right: 12px;
  top: 50%;
  color: #333333;
  opacity: 0.4;
  margin-top: -12px;
  line-height: 20px;
  font-size: 20px !important;
}
.selectize-dropdown-header-close:hover {
  color: #000000;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup {
  border-right: 1px solid #f2f2f2;
  border-top: 0 none;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
  border-right: 0 none;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup:before {
  display: none;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup-header {
  border-top: 0 none;
}
.selectize-control.plugin-remove_button [data-value] {
  position: relative;
  padding-right: 24px !important;
}
.selectize-control.plugin-remove_button [data-value] .remove {
  z-index: 1;
  /* fixes ie bug (see #392) */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 17px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: inherit;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  padding: 1px 0 0 0;
  border-left: 1px solid rgba(0, 0, 0, 0);
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.selectize-control.plugin-remove_button .disabled [data-value] .remove:hover {
  background: none;
}

.selectize-control {
  position: relative;
}
.selectize-dropdown,
.selectize-input,
.selectize-input input {
  color: #333333;
  font-family: inherit;
  font-size: inherit;
  line-height: 20px;
  -webkit-font-smoothing: inherit;
}
.selectize-input,
.selectize-control.single .selectize-input.input-active {
  background: #ffffff;
  cursor: text;
  display: inline-block;
}
.selectize-input {
  border: 1px solid #cccccc;
  padding: 6px 12px;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-right: 40px;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.selectize-control.multi .selectize-input.has-items {
  padding: 5px 12px 2px;
}
.selectize-input.full {
  background-color: #ffffff;
}
.selectize-input.disabled,
.selectize-input.disabled * {
  cursor: default !important;
}
.selectize-input.focus {

}
.selectize-input.dropdown-active {

}
.selectize-input > * {
  vertical-align: baseline;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.selectize-control.multi .selectize-input > div {
  cursor: pointer;
  margin: 0 3px 3px 0;
  padding: 1px 3px;
  background: #efefef;
  color: #333333;
  border: 0 solid rgba(0, 0, 0, 0);
}
.selectize-control.multi .selectize-input > div.active {
  background: #428bca;
  color: #ffffff;
  border: 0 solid rgba(0, 0, 0, 0);
}
.selectize-control.multi .selectize-input.disabled > div,
.selectize-control.multi .selectize-input.disabled > div.active {
  color: #808080;
  background: #ffffff;
  border: 0 solid rgba(77, 77, 77, 0);
}
.selectize-input > input {
  display: inline-block !important;
  padding: 0 !important;
  min-height: 0 !important;
  max-height: none !important;
  max-width: 100% !important;
  margin: 0 !important;
  text-indent: 0 !important;
  border: 0 none !important;
  background: none !important;
  line-height: inherit !important;
  -webkit-user-select: auto !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.selectize-input > input::-ms-clear {
  display: none;
}
.selectize-input > input:focus {
  outline: none !important;
}
.selectize-input::after {
  content: ' ';
  display: block;
  clear: left;
}
.selectize-input.dropdown-active::before {
  content: ' ';
  display: block;
  position: absolute;
  background: #ffffff;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
}
.selectize-dropdown {
  position: absolute;
  z-index: 10;
  background: #dbeef8;
  margin: -1px 0 0 0;
  padding: 10px 0;
  top:30px !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
.selectize-dropdown [data-selectable] {
  cursor: pointer;
  overflow: hidden;
  font-family: 'Roboto';
  font-size: 14px;
  border-bottom: 1pt solid #E5E5E5;
}
.selectize-dropdown [data-selectable] .highlight {
  background: rgba(255, 237, 40, 0.4);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.selectize-dropdown [data-selectable],
.selectize-dropdown .optgroup-header {
  padding: 8px 12px;
}
.selectize-dropdown .optgroup:first-child .optgroup-header {
  border-top: 0 none;
}
.selectize-dropdown .optgroup-header {
  color: #777777;
  background: #dbeef8;
  cursor: default;
  border-bottom: 1pt solid #b0d2e4;
}
.selectize-dropdown .active {
  background-color: #fff;
  color: #000;
}
.selectize-dropdown .active.create {
  color: #000;
  border: 1pt solid #eee;
}
.selectize-dropdown .create {
  color: rgba(51, 51, 51, 0.5);
}

.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input input {
  cursor: pointer;
  width: 170px;
}
.selectize-control.single .selectize-input.input-active,
.selectize-control.single .selectize-input.input-active input {
  cursor: text;
  background: #fff
}

.selectize-control.single .selectize-input:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 50%;
  right: 0px;
  margin-top: -3px;
  width: 29px;
  height: 10px;
  background: url({% static "imagens/bg-select.png" %}) transparent no-repeat center center;
  border-left: 1pt solid rgb(209, 215, 216);
  top: 1px;
  height: 108%;
}

.selectize-control.rtl.single .selectize-input:after {
  left: 17px;
  right: auto;
}
.selectize-control.rtl .selectize-input > input {
  margin: 0 4px 0 -2px !important;
}
.selectize-control .selectize-input.disabled {
  opacity: 0.5;
  background-color: #ffffff;
}
.selectize-dropdown,
.selectize-dropdown.form-control {
  height: auto;
  padding: 0;
  margin: 10px 0 0 0;
  z-index: 1000;
  background: #fff;
  color: #6d6e71;
  border: 1pt solid #e5e5e5;
}
.selectize-dropdown .optgroup-header {
  height: auto;
  padding: 0;
  margin: 10px 0 0 0;
  z-index: 1000;
  background: #fff;
  color: #6d6e71;
  border: 1pt solid #D5D5D5;
}
.selectize-dropdown .optgroup:first-child:before {
  display: none;
}
.selectize-dropdown .optgroup:before {
  content: ' ';
  display: block;
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #fff;
  margin-left: -12px;
  margin-right: -12px;
}

.selectize-dropdown-header {
  padding: 6px 12px;
}
.selectize-input {
  max-height: 36px;
  min-height: 37px;
  min-width: 150px !important;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
}

.selectize-input.dropdown-active::before {
  display: none;
}
.selectize-input.focus {
	background: #fff;
}
.selectize-input .item{
	position: absolute;
}

.top-10{
	 padding-top: 10px;
}
</style>
<div class="topo-edge">
	<div class="container-edge">
		<form action="http://www.edgeglobalsupply.com.br/busca/?q=" method="GET" target="_blank">
			<a href="http://www.edgeglobalsupply.com.br/" target="_blank"><img src="{% static "imagens/logo-edge.png" %}" class="logo-edge"></a>
			
			<ul class="link-edge">
				<li>
					<select name="" class="select-edge">
						<option value="Empresas do grupo">Empresas do grupo</option>
						<option value='http://www.laax.com.br/'>Laax</option>
						<option value="http://www.inboxpaineis.com.br/">Inbox</option>
                        <option value="http://www.intereng.com.br/">Intereng</option>
						<option value="http://www.ladder.com.br">Ladder</option>
						<!-- <option value="http://www.intereng.com.br/">Intereng</option> -->
					</select>
				</li>
				<li class="top-10"><a href="http://www.edgeglobalsupply.com.br/produtos/" target="_blank">Produtos</a></li>
				<li class="top-10"><a href="http://www.edgeglobalsupply.com.br/institucional/" target="_blank">Institucional</a></li>
				<li class="top-10"><a href="http://www.edgeglobalsupply.com.br/trabalhe-conosco/" target="_blank">Trabalhe conosco</a></li>
			</ul>
		</form>
	</div>
</div>
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="{% static "js/selectize.js" %}"></script>
<script>
		$('.select-edge').selectize();

		$('.select-edge').change(function(){
		    if ( $(this).val() !== '' || $(this).val() !=='Empresas do grupo') {
		        window.open($(this).val(), '_blank');
		    }
		});	
		

		$('.enviar-on-enter').keydown(function(e){
        if (e.keyCode == 13 || e.which == 13){
            $(this).parent('form').submit();
        }
    })
</script>

{% block content %}

{% endblock %}
</body>
</html>