{% extends "base.html" %}

{% block content %}
    <div id="corpo">
        <div class="header-top">
            <img src="{{ boleto_logo }}" alt="" style="height: 60px;">
        </div>
        <div id="content-holder">
        </div>
    </div>
    <form action="{% url 'segunda_via' %}" method="POST" name="dados" class="form-horizontal">

    <div class="login">
        <div class="login-form">
            <div class="control-group">
                <input type="text" id="cnpjcampo" maxlength="18" name="cnpj" class="login-field" placeholder="Digite o CNPJ da Empresa" id="login-name" onkeypress="formatar('##.###.###/####-##',this)" autofocus>
            </div>

            {% csrf_token %}
            {{ form.as_p }}
            <div class="control-group">
                <button type="submit" class="btn btn-primary">Buscar Boletos</button>
            </div>
        </div>
        {% if erro %}
        <div class="control-group">
            <div class=" alert alert-danger">
                <h4 style="text-align: center">{{ erro }}</h4>
            </div>
        </div>
        {% endif %}
    </div>

    <script>
        function formatar(mascara, documento){
            var i = documento.value.length;
            var saida = mascara.substring(0,1);
            var texto = mascara.substring(i)

            if (texto.substring(0,1) != saida){
            documento.value += texto.substring(0,1);
            }

        }
    </script>

    </form>
{% endblock %}