{% extends 'base.html' %}
{% block title %}
<title>2ª Via Boleto - Intereng</title>
{% endblock %}

{% block content %}
    {% if not erroboleto %}
        <form action="https://ww2.itau.com.br/2viabloq/frames.asp" method="post" name="f1" id="f1" target="_blank">
        <input id="strTranc" type="hidden" name="strTranc">
        <input id="S" type="hidden" name="msg">
    </form>

    <div id="corpo">
        <div class="header-top">
            <a href="{{ empresa_url }}">
                <img src="{{ boleto_logo }}" alt="" style="height: 60px;">
            </a>
        </div>
        <div id="content-holder">
        </div>
    </div>

    <div>
        <table class="table table-responsive table-hover">
        <tr>
            <td colspan="3"><h3>{{ Empresa }}</h3></td>
            <td style="vertical-align: middle; text-align: right"><a href="{% url 'index' %}" class="btn btn-danger">Nova Busca</a> </td>
        </tr>
        <tr>
           <th style="text-align: center">Numero do Documento</th>
            <th style="text-align: center">Data de Vencimento</th>
            <th style="text-align: center">Valor do Documento</th>
            <th></th>
        </tr>
        {% for dado in dados %}
            <tr>
                <td align="center">{{ dado.doc }}</td>
                <td align="center">{{ dado.datavenc }}</td>
                <td align="center">R$ {{ dado.valor }}</td>
                <td align="center"><a href="javascript:envia('{{ dado.link }}')" class="btn btn-primary">Download Boleto</a></td>
            </tr>
        {% endfor %}

        </table>
    </div>

    <script language="JavaScript">
        function envia(tranc){
            document.f1.strTranc.value=tranc;
            document.f1.submit();
        }
    </script>
    {% else %} {% if erroboleto %}
        <div id="corpo">
            <div class="header-top">
                <a href="{{ empresa_url }}">
                    <img src="{{ boleto_logo }}" alt="" style="height: 60px;">
                </a>
            </div>
            <div id="content-holder">
                <div class="alert alert-danger">
                    <h3 style="text-align: center">{{ erroboleto }}</h3>
                </div>
            </div>
        <div class="login-form">
            <a href="{% url 'index' %}" class="btn btn-default">Clique aqui para voltar</a>
        </div>
        </div>
    {% endif %}
    {% endif %}
{% endblock %}