div.selectbox-wrapper {
	position:absolute;
	background-color:white;
	border:1px solid #ccc;
	margin:0 0 0 10px;
	text-align:left;
	height:140px;
	overflow: auto;
}
div.selectbox-wrapper ul {
	list-style-type:none;
	margin:0px;
	padding:0px;
}
div.selectbox-wrapper ul li.selected { 
	background-color: #bde2fc;
}
div.selectbox-wrapper ul li.current { 
	background-color: #edf7ff;
}
div.selectbox-wrapper ul li {
	list-style-type:none;
	display:block;
	margin:0;
	padding:2px;
	cursor:pointer;
	height:18px;
}

label {
	display: block;
}
.selectbox /* look&fell of  select box*/
{
	display : block;
	text-align:left; 
	margin:4px 0 0 10px; 
	background: url('bg_select.png') right;
	background-repeat:no-repeat;
	border:none;
	height:18px;
	cursor: pointer;
	width:205px;
}

