#header{
	width:100%; height:66px;
	background-image: url(/media/imagens/layout/admin/header.gif);
	background-repeat: repeat-x;
	background-color:#0b68b5;
	color:#white;
}
#user-tools a:link,#user-tools a:visited{color:#white;}


#branding h1{
	padding: 0;
	margin: 0;
	background-image: url(/media/imagens/layout/admin/logo.jpg);
	background-repeat: no-repeat;
	height:66px;
}

.report_row{height:25px; line-height:25px;}
.report_header{float:left; width:120px;}
.report_select{width:300px;}
.report_field_set{width:280px; padding:10px;};