*{
    font-family: Arial;
}

div{
    display: block;
}

body{
    margin: 0px;
}

.topo-site{
    background-color: #EEEEEE;
    border-bottom: 5px solid #14509a;
}
.topo-site a{
    color: #14509a;
    font-size: 16px;
    #text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.container-site{
    width: 960px;
    height: 78px;
    margin: 0 auto;
}
div.header-top{
    border-bottom: solid 5px #8fcbef;
    background-color: #ffffff;
}

div.content-holder{
    margin: 0px;
    overflow: hidden;
    width: 100%;
    background-color: #EEEEEE;
}
li{
    display: list-item;
    text-align: -webkit-match-parent;
}

.link-site{
    margin-left: 3px;
    vertical-align: middle;
    display: inline-block;
}
.link-site li{
    float: left;
    text-decoration: none;
    list-style: none;
    margin-right: 28px;
}

.logo-edge{
    display: inline-block;
    vertical-align: middle;
}

.top10{
    padding-top: 10px;
    color: #9d9d9d;
}

.container-site form{
    display: block;
    margin-top: 0em;
}

.form-group-cnpj {
  margin-bottom: 15px;
    margin-top: 70px;
    margin-left: 250px;
}
.form-group {
  margin-bottom: 15px;
}

.col-sm-offset-3 {
    margin-left: 25%;
  }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.btn {
  display: inline-block;
  padding: 3px 8px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 7px;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  margin-left: auto;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #28609b;
  border-color: #122b40;
}

.btn-danger {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #ffffff;
    text-decoration: none;
    margin-left: 50px;
}

.btn-danger:focus,
.btn-danger.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19;
}

.form-control {
  display: block;
  width: 24%;
  height: 34px;
  padding: 6px 12px;
  text-align: center;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.input-sm {
  height: 15px;
  padding: 5px 16px;
  line-height: 1.5;
  border-radius: 10px;
}

.form-horizontal .has-feedback .form-control-feedback {
  right: 15px;
}

.msg-error {
    padding: 3px 51px;
    font-size: 14px;
}

.nome-emp{
    padding: 3px 51px;
    font-size: 14px;
}

.tabela{
    border: 1px;
    table-border-color-dark: #0000ff;
    table-border-color-light: #0000ff;
    border-color: #0000ff;
}

.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}