/*classe de estilo usado no editor html da area administrativa*/
.cor_azul,.cor_azul_bold, .titulo_azul{color:#095ea1;}
.cor_azul_bold{font-weight:bold;}
.titulo_azul,.titulo_laranja{ margin:0;padding:0 0 3px 0; font-size:13px;}
.titulo_laranja{color:#fd8701;}
.titulo_azul_novo{color:#8fcbef;}