.form_input{width:300px;border: solid 1px #c0c0c0;font-size: 11px;}
.form_button{margin-top:10px;font-weight:bold;border:solid 1px #c0c0c0;background-color:white;width:80px;color:#9d882f;}

.row{padding-bottom:5px;}
.row .header,.row .header_r,.row .header_r_100{float:left;color:#686868;}
.row .header_r{text-align:right;padding-right:5;width:80px;}
.row .header_r_100{text-align:right;padding-right:5;width:100px;}

.row .header_white{float:left;color:white;}
.row .field{margin-left:50px;}
.row .field_80{margin-left:85px;}
.row .field_100{margin-left:105px;}
.row .required{color:red;}
.row .help_text{color:#686868; font-size:10px; font-style:italic;}
.bold_text{font-weight:bold;}

div.fileinputs {position: relative;}
div.fakefile {position: absolute;top: 0px;left: 0px;z-index: 1;}
input.file {position: relative;	text-align: right;-moz-opacity:0 ;filter:alpha(opacity: 0);	opacity: 0;	z-index: 2;}

