*html div#page{width:expression(document.body.clientWidth < 1024? "1004px": "auto" );}
/*index portal*/
*html div#index-content{height:100%;} 

/*produtos*/
*html div#content_produto{height:800px;} 
/*caixas institucional*/
*html div#inst-efeito-hist-bottom{height:326px;} 
*html div#inst-caixa-visao{height:326px;}
*html div#inst-caixa-politica {height:317px;}
*html div#inst-caixa-fornecedores,*html div#inst-caixa-fornecedor{height:473px;}
*html div#inst-caixa-unidade {height:317px;}
*html div#inst-certificado-caixa{height:590px;}
*html div#inst-caixa-clientes{height:543px;}
*html div#inst-efeito-cont-bottom{height:280px;}
*html div#inst-caixa-contato{height:300px;}
/*busca*/
*html div#content_busca{height:400px;}
/*noticia*/
*html div#content_menu_left_noticia{height:350px;}
*html div#content_noticia{height:400px;}
/*evento*/
*html div#content_evento{height:320px;}
/*download*/
*html div#content_download{height:500px;}