/*menu institucional*/
div#menu-inst{margin-left:10px; display:inline; float:left; width:194px; height:327px; padding-top:10px; background-image:url(/media/imagens/layout/institucional/menu-bg.gif);}
ul.menu-inst{ margin:40px 0; padding:0;}
ul.menu-inst li{list-style:none; margin:0 0 0 20px; padding:7px 0;}
ul.menu-inst li a{color:#9dbfd8;font-weight:bold;}
div.inst-right{margin-left:214px;}
/*colunas institucional*/
div.inst-column{margin-left:10px; float:left;}
div.inst-column-first{float:left;}

/*veja */
.veja {padding-left:20px; background-position:left top; background-repeat:no-repeat; background-image:url(/media/imagens/layout/mais.gif);}

/*caixa efeito historico*/
div#inst-efeito-hist-top,div#inst-efeito-hist-bottom{background-image:url(/media/imagens/layout/institucional/sprites/efeito-caixa-historico.gif);}
div#inst-efeito-hist-top{width:427px; background-position:left top; background-repeat:no-repeat;}
div#inst-efeito-hist-bottom{background-position:-427px bottom; background-repeat:no-repeat;}

/*hack min-height para ie6 no arquivo ie6.css*/

/*caixa efeito historico*/
div#inst-efeito-hist-bottom{min-height:326px;/*padding-bottom 250*/}

/*caixa missao*/
div#inst-caixa-visao {min-height:326px;}

/*caixa politica */
div#inst-caixa-politica {min-height:317px;}

/*caixa fornecedores*/
div#inst-caixa-fornecedores,div#inst-caixa-fornecedor{min-height:473px;}

/*caixa unidade */
div#inst-caixa-unidade{min-height:317px;}

/*caixa certificado */
div#inst-certificado-caixa{min-height:590px;}

/*caixa cliente*/
div#inst-caixa-clientes{min-height:543px;}

/*caixa contato unidade*/
div#inst-efeito-cont-bottom{min-height:280px;}
/*efeito caixa contato*/
div#inst-efeito-cont-top,div#inst-efeito-cont-bottom{background-image:url(/media/imagens/layout/institucional/sprites/efeito-caixa-contato.gif);}
div#inst-efeito-cont-top{width:196px; background-position:left top; background-repeat:no-repeat;}
div#inst-efeito-cont-bottom{padding:10px; background-position:-196px bottom; background-repeat:no-repeat;}
div#inst-caixa-contato{min-height:300px;}

.linha-azul{border-bottom:solid 1px #095ea1; padding-bottom:2px; width:810px; margin-top:20px;}
.caixa-cliente, .caixa-cliente-l, .caixa-cliente-r{height:55px; background-image:url(/media/imagens/layout/institucional/sprites/cliente.gif); }
.caixa-cliente{background-repeat:repeat-x; background-position:left -55px; width:700px; margin:5px 0 10px 0;}
.caixa-cliente-l{background-repeat:no-repeat; background-position:left top;}
.caixa-cliente-r{background-repeat:no-repeat; background-position:right -110px; padding-left:10px; height:43px; padding-top:12px;}
.caixa-cliente-site{float:right; padding:6px 20px 0 0;}
.caixa-cliente-site img{vertical-align:middle;}
