@font-face {
	font-family: "DINPro";
	src: url("fonte/DINPRO-LIGHT.OTF");
	}
/*ALL*/
*{font-family: Arial, Trebuchet MS, Verdana, Helvetica; /*color:#bebfbf;*/ color:#5e5e5e;}

/*BODY*/
body{margin:0; font-size:9pt;}

/*IMG*/
img{border: none;}

/*input*/
input{border:solid 1px #545547;}

/*ANCOR*/
a, a *{text-decoration: none;color:inherit;}

/*P*/
p {text-align:justify; line-height:120%;margin:2px;}

div#page{/*width:1004px;*/ min-width:1004px;}
/* HEADER */
div.header-top{border-bottom: solid 8px #8fcbef; background-color: #ffffff;}
/*div.header-top .left{background-image:url(/media/imagens/layout/header-top-left.jpg); background-position:left top; background-repeat:no-repeat;}
div.header-top .left .right{height:66px; background-image:url(/media/imagens/layout/header-top-right.gif); background-position:right top; background-repeat:no-repeat; } 

/*FOOTER*/
div#footer{  text-align:center; margin-bottom: 0; height: 64px; width: 100%; background-color: #231f20; margin-top: 54px;}
.endereco{ font-family: DINPro,Arial;  font-size:14px;  color: #FFFFFF; position: relative; top:-20px;}
/* menu-topo */
div#menu-topo{float:right; height:66px; margin:0; width:660px;}
div.menu-topo{float:right; height:66px; width:200px;}
div.menu-topo .text {font-size:12px; color:white; height:15px;}
div.menu-topo .text a.text {color:#000000;}
div#user-info{border-right:solid 1px white; padding-left:25px;}
div.welcome{font-weight:bold; margin-top:18px; color:#8fcbef;}
div.login{font-size:10px; margin:0; color:#231f20;}
a.login{text-decoration:underline; color:#231f20;}
div#orcamento{margin-left:15px;}
div#fone{margin-left:15px;}

div.header-bottom{background-image:url(/media/imagens/layout/header-bottom.gif); background-position:left top; background-repeat:repeat-x;}
div.header-bottom .left{background-image:url(/media/imagens/layout/header-bottom-left.jpg); background-position:left top; background-repeat:no-repeat;}
div.header-bottom .left .right{height:48px; background-image:url(/media/imagens/layout/header-bottom-right.jpg); background-position:right top; background-repeat:no-repeat; } 

/* search */
div.search-panel{margin:auto; width:800px; height:48px;}
div.search-panel .search{float:left; width:530px; line-height:27px; height:27px; margin:10px 0 0 0; background-image:url(/media/imagens/layout/search.gif); background-position:right center; background-repeat:no-repeat;}
div.search-panel .search input{border:none; background:#f5f6f7; margin:4px 0 0 30px; width:395px;}
div.search-panel .search_area{float:left; width:225px; line-height:26px; height:26px; margin:10px 0 0 5px; background-image:url(/media/imagens/layout/search_area.gif); background-position:right center; background-repeat:no-repeat;}
a.search_ok{color:white;font-weight:bold;}
a.search_ok:hover{text-decoration:underline;}

/* menu */
div.menu{height:37px; background-color:#eeeeee; margin-bottom: 10px;}
.shape{float: left; margin: 10px 15px;}
.shape-left{margin-left: 7px;}
div.menu ul.content{margin: 0; padding: 10px 0;}
div.menu ul.content li.item{font-size:12px; display:block; float:left; margin:0 30px 0 0; padding:0; text-transform: uppercase;}
div.menu ul.content li.item a{color:#231f20; display:block; }
div.menu ul.content li.item a:hover{color:#8fcbef;}
/*div.menu ul.content li.item .on-left, div.menu ul.content li.item .on-middle, div.menu ul.content li.item .on-right{float:left; margin-top:2px;  height:20px;}
div.menu ul.content li.item .on-left{position:relative; width:3px; background-image:url(/media/imagens/layout/sprites/menu-on.gif); background-position:left top; background-repeat:no-repeat;}
div.menu ul.content li.item .on-middle{background-color:white; border-top:solid 1px #aaccee; padding:0 6px 0 6px;}
div.menu ul.content li.item .on-right{position:relative; width:3px; background-image:url(/media/imagens/layout/sprites/menu-on.gif); background-position:left -20px; background-repeat:no-repeat;}
*/
/* content-holder */


/*paginacao*/
.paginacao_content{clear:both; padding:4px 0 4px 0;}
.vermais{float:left; display:block;}
.pagina_ativa , .pagina_ativa .p_right{background-repeat:no-repeat;  background-image:url(/media/imagens/layout/sprites/pagination.gif);}
.pagina_ativa{height:14px; overflow:hidden; margin-left:5px; float:left; display:block;background-position:left top; background-color:#095ea1;}
.pagina_ativa .p_right{color:white; padding: 0 2px 0 2px; background-position:right -14px; }
.pagina_mais{margin-left:5px; display:block; float:left;}

/*caixas arredondadas e borda azul*/
.inst-caixa {background-position:left top; background-repeat:repeat-x; background-image:url(/media/imagens/layout/caixa/tm.gif);}
.inst-caixa .lm{background-position:left top; background-repeat:repeat-y; background-image:url(/media/imagens/layout/caixa/lm.gif);}
.inst-caixa .rm{background-position:right top; background-repeat:repeat-y; background-image:url(/media/imagens/layout/caixa/rm.gif);}
.inst-caixa .bm{background-position:left bottom; background-repeat:repeat-x; background-image:url(/media/imagens/layout/caixa/bm.gif);}
.inst-caixa .top-l {background-position:left top; background-repeat:no-repeat; background-image:url(/media/imagens/layout/caixa/tl.gif);}
.inst-caixa .top-r {background-position:right top; background-repeat:no-repeat; background-image:url(/media/imagens/layout/caixa/tr.gif);}
.inst-caixa .bottom-l {background-position:left bottom; background-repeat:no-repeat; background-image:url(/media/imagens/layout/caixa/bl.gif);}
.inst-caixa .bottom-r {padding:10px; background-position:right bottom; background-repeat:no-repeat; background-image:url(/media/imagens/layout/caixa/br.gif);}


/*CAIXA FUNDO AZUL*/
div.caixa_fundo_azul,div.caixa_fundo_azul .bl, div.caixa_fundo_azul .tr, div.caixa_fundo_azul .br 
{background-repeat:no-repeat;}
div.caixa_fundo_azul{background-image:url(/media/imagens/layout/caixa_fundo_azul/tl.gif); background-position:left top; background-color:#3d7faf;}
div.caixa_fundo_azul .bl{background-image:url(/media/imagens/layout/caixa_fundo_azul/bl.gif); background-position:left bottom;}
div.caixa_fundo_azul .tr{background-image:url(/media/imagens/layout/caixa_fundo_azul/tr.gif);  background-position:right top;}
div.caixa_fundo_azul .br{padding:20px; background-image:url(/media/imagens/layout/caixa_fundo_azul/br.gif); background-position:right bottom;}
/*CAIXA FUNDO AZUL CLARO*/
.caixa_fundo_azul_c {background-position:left top; background-repeat:repeat-x; background-image:url(/media/imagens/layout/caixa_fundo_azul_claro/tm.gif);}
.caixa_fundo_azul_c .lm{background-position:left top; background-repeat:repeat-y; background-image:url(/media/imagens/layout/caixa_fundo_azul_claro/lm.gif);}
.caixa_fundo_azul_c .rm{background-position:right top; background-repeat:repeat-y; background-image:url(/media/imagens/layout/caixa_fundo_azul_claro/rm.gif);}
.caixa_fundo_azul_c .bm{background-position:left bottom; background-repeat:repeat-x; background-image:url(/media/imagens/layout/caixa_fundo_azul_claro/bm.gif);}
.caixa_fundo_azul_c .top-l {background-position:left top; background-repeat:no-repeat; background-image:url(/media/imagens/layout/caixa_fundo_azul_claro/tl.gif);}
.caixa_fundo_azul_c .top-r {background-position:right top; background-repeat:no-repeat; background-image:url(/media/imagens/layout/caixa_fundo_azul_claro/tr.gif);}
.caixa_fundo_azul_c .bottom-l {background-position:left bottom; background-repeat:no-repeat; background-image:url(/media/imagens/layout/caixa_fundo_azul_claro/bl.gif);}
.caixa_fundo_azul_c .bottom-r {padding:10px; background-position:right bottom; background-repeat:no-repeat; background-image:url(/media/imagens/layout/caixa_fundo_azul_claro/br.gif);}

/*INPUT BORDA*/
div.caixa_input {background-image: url(/media/imagens/layout/input/tm.gif); background-repeat: repeat-x; background-position:left top;}
div.caixa_input .ci_bottom{background-image: url(/media/imagens/layout/input/bm.gif); background-repeat: repeat-x; background-position:left bottom;}
div.caixa_input .ci_left{background-image: url(/media/imagens/layout/input/ml.gif); background-repeat: repeat-y; background-position:left top;}
div.caixa_input .ci_right{background-image: url(/media/imagens/layout/input/mr.gif); background-repeat: repeat-y; background-position:right top;}
div.caixa_input .tl{background-image: url(/media/imagens/layout/input/tl.gif); background-repeat: no-repeat; background-position:left top;}
div.caixa_input .tr{background-image: url(/media/imagens/layout/input/tr.gif); background-repeat: no-repeat; background-position:right top;}
div.caixa_input .bl{background-image: url(/media/imagens/layout/input/bl.gif); background-repeat: no-repeat; background-position:left bottom;}
div.caixa_input .br{padding:3px; background-image: url(/media/imagens/layout/input/br.gif); background-repeat: no-repeat; background-position:right bottom;}

/*popup ads*/

div#popup-ads{
	/*background: transparent;*/
	background-color:gray;
	position: absolute;
	left:250px;
	top: 148px;
	display: none;
	z-index: 10000;	
	border:solid 1px #666666;
}
img#fechar-ads{right:-2px; top:-25px; position:absolute;}

/*Novo Layout*/

.fundo_cinza{
	background-color: #eeeeee;
}