/*menu institucional*/
div#menu-perfil{margin-left:10px; display:inline; float:left; width:194px; height:279px; padding-top:10px; background-image:url(/media/imagens/layout/perfil/menu.gif);}
ul.menu-perfil{ margin:60px 0; padding:0;}
ul.menu-perfil li{list-style:none; margin:0 0 0 20px; padding:2px 0 7px 0;}
ul.menu-perfil li a{color:#9dbfd8;font-weight:bold;}

div.perfil-right{margin-left:214px;}

